page-home {
  .box{
    width: 100%;
    position:fixed;
    bottom:40px;
    *{
      color: #000;
    }
    .shortline{
      background: #fff;
    }
    h3{
      p{
        font-size: inherit;
      }
    }
  }
}
