page-projects {
  .project-area {
    text-align: right;
    margin-right: 0;
    border-bottom: 1px solid #ccc;
    p {
      color: #697072;
      text-align: left;
    }
    ion-icon {
      color: #c58d5d;
      width: 20px;
    }
  }
  .img_padding {
    padding: 5px 20px;
    height: 230px;
    width: 100%;
  }
  .h_padding {
    padding: 0 20px; 
  }

  .p_padding {
    padding: 0 20px; 
    ion-icon {
      color: #c58d5d;
    }
  }
  
  .price {
    float: right;
    i {
      width: 40px;
      height: 25px;
      background: #333;
      color: #c58d5d;
      line-height: 25px;
      text-align: center;
      padding: 5px;
      font-size: 14px;
      font-style: normal;
      margin:5px 20px 0;
      ion-icon {
        font-size: 14px;
      }
    }
  }
}
