<ion-header>
  <ion-navbar>
    <img src="assets/img/sarah-avatar.png" class="logo">
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list no-lines class="project-area">
    <ion-item>
      <ion-icon name="pin" item-start></ion-icon>
      <ion-label></ion-label>
      <ion-select>
        <ion-option value="madison" selected>上海</ion-option>
        <ion-option value="austin">北京</ion-option>
        <ion-option value="chicago">南京</ion-option>
        <ion-option value="seattle">广州</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list [virtualScroll]="projectsList">
    <ion-grid>
      <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let project" approxItemHeight="50px">
        <img src="{{project.img}}" class="img_padding" (click)=openProject(project)>
        <div class="price" style="cursor:pointer" (click)=openProject(project)>
          <i *ngIf="project.price == ''" class="label">More</i>
          <i *ngIf="project.price != ''" class="label">
            <ion-icon name="logo-yen"></ion-icon>
            {{project.price}}
          </i>
        </div>
        <h3 class="h_padding">
          {{project.name}}
        </h3>
        <p class="p_padding">
          <ion-icon name="pin" item-start></ion-icon>
          {{project.address}}
        </p>
      </ion-col>
    </ion-grid>
  </ion-list>
</ion-content>

